<p>welcome works!</p>
<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Bortolazzo Marco</mat-card-title>
      <mat-card-subtitle>Software Developer</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content> Welcome to my portfolio. </mat-card-content>
  <mat-card-actions>
    <a
      mat-raised-button
      color="primary"
      href="https://it.linkedin.com/in/marco-bortolazzo-41352b28"
      target="_blank"
      >CONTACT ME</a
    >
    <!-- <button mat-button>CONTACT ME</button> -->
  </mat-card-actions>
</mat-card>
